@import '@/assets/variables'

.newsListItem
  display: flex
  align-items: center
  position: relative
  padding-right: $size-5

  &:not(:last-child)
    padding-bottom: $size-4

  &:before
    content: ''
    position: absolute
    width: 7px
    height: 7px
    border-radius: 50%
    background-color: $gray1

.newsListItemTimeline
  &:first-child
    &:after
      top: 45%

  &:last-child
    &:after
      top: auto
      bottom: 50%

  
  &:before
    content: ''
    position: absolute
    width: $size-3
    height: $size-3
    border-radius: 50%
    background-color: white
    z-index: 1
    border: 1px solid $gray2

  &:after
    content: ''
    position: absolute
    left: 5px
    top: 0
    width: 0
    border-left: 1px solid $gray2
    height: 100%
  
.newsListItemTime
  font-size: 14px
  padding-left: $size-5
  color: $gray3
  min-width: 60px

.newsListItemLink
  display: flex
  align-items: center
  justify-content: space-between
  width: 100%
  color: $gray1
  text-decoration: none
  text-underline-offset: 2px

  &:visited
    color: $gray5

  &:hover
    .newsListItemText
      text-decoration: underline

.newsListItemInfo
  display: flex
  align-items: center
  padding-right: $size-3

.newsListItemText
  margin-left: $size-5

.newsListItemArrow
  font-weight: bold
  font-size: 20px
  color: $gray3