@import '@/assets/variables'

.app
  width: 75%
  margin: $size-8 auto

.content
  display: flex
  flex-wrap: wrap
  gap: 6%

@media screen and (max-width: 1024px)
  .app
    width: 90%

@media screen and (max-width: 800px)
  .content
    flex-direction: column