@import '@/assets/variables'

.spinner
  width: 48px
  height: 48px
  border-radius: 50%
  position: absolute
  top: calc(50% - $size-6)
  left: calc(50% - $size-6)
  animation: rotate 1s linear infinite

  &:before
    content: ''
    box-sizing: border-box
    position: absolute
    inset: 0
    border-radius: 50%
    border: 5px solid $gray3
    animation: clip 2s linear infinite

@keyframes rotate
  100%
    transform: rotate(360deg)

@keyframes clip
  0%
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
  25%
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
  50%
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
  75%
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%)
  100%
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0)
