@import '@/assets/variables'

.preview
  position: relative
  overflow: hidden
  border-radius: 10px
  margin-bottom: $size-8

  &:hover .img
    transform: scale(1.1)

  &:after
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: $gradient

.caption
  position: absolute
  z-index: 1
  bottom: 16px
  left: 20px
  color: $white
  font-size: 18px
  font-weight: bold
  padding-right: $size-3

.img
  width: 100%
  aspect-ratio: 16 / 9
  position: relative
  object-fit: cover
  background-color: $gray4 // In a case when image is broken
  transform: scale(1)
  transition: transform 150ms ease-in-out
