*,
*::before,
*::after
  box-sizing: border-box
  margin: 0

html
  -moz-text-size-adjust: none
  -webkit-text-size-adjust: none
  text-size-adjust: none

body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd
  margin-block-end: 0

ul, ol
  list-style: none
  padding: 0

body
  min-height: 100vh
  line-height: 1.5
  font-family: -apple-system, Inter, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


h1, h2, h3, h4,
button, input, label
  line-height: 1.1

a:not([class])
  text-decoration-skip-ink: auto
  color: currentColor

img,
picture
  max-width: 100%
  display: block

input, button,
textarea, select
  font-family: inherit
  font-size: inherit

:target
  scroll-margin-block: 5ex
